.about {
    height: max-content;
    width: 95%;
    padding: 10em 0;
}

img {
    height: 20em;
    margin-left: -25em;
    z-index: -1;
}

.textarea {
    display: flex;
    margin: -10em 0 0 -15em;
    text-align: left;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
}